
// Размеры
// $content-max-weight: 1200px
// $content-padding: 0 16px

// Шрифт
$font-primary: sans-serif

@import "./nullstyle.css"
// @import "./common/fonts.css"


*
	box-sizing: border-box
	outline-offset: 4px

ul,
ol
	padding: 0
	margin: 0
	list-style: none

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button
	appearance: none
	font-family: $font-primary

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible)
	outline: none


@import "./common/header.sass"
@import "./pages/index.sass"
@import "./common/footer.sass"


// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
