@import url(nullstyle.css);
body {
  background: #E5E5E5;
}

.center {
  padding: 0 calc(50% - 770px);
}

.wrapper {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  background: url(../images/header_banner_back.svg) top center no-repeat;
}
.header .header-box {
  position: relative;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  background: #E6E6E5;
}
.header .header-box .logo-link1 {
  padding: 12px 0;
  align-self: flex-end;
}
.header .header-box .logo-link2 {
  margin-top: 15px;
}
.header .header-box .logo-link2 img {
  max-width: 100%;
}
.header .header-box .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-box .menu__link {
  padding: 1.29rem;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #221E1F;
}
.header .header-box .burger-menu {
  position: absolute;
  background-color: #a09d9d;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 26px;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}
.header .header-box .burger-menu .menu__link {
  font-size: 14px;
}
.header .header__banner {
  display: flex;
  justify-content: space-between;
  padding: 47px 210px 0 277px;
}
.header .header__banner .banner-left, .header .header__banner .banner-right {
  width: 50%;
}
.header .header__banner .banner-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__banner .banner-heading {
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 -130px 23px 0;
}
.header .header__banner .banner-text1, .header .header__banner .banner-text2 {
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  opacity: 0.6;
}
.header .header__banner .banner-text1 span, .header .header__banner .banner-text2 span {
  font-weight: 700;
}
.header .header__banner .banner-text1 {
  max-width: 591px;
}
.header .header__banner .banner-text2 {
  max-width: 475px;
  text-align: right;
  padding: 0 18px;
  margin-bottom: 24px;
}
.header .header__banner .banner-term {
  line-height: 45px;
  color: #FFFFFF;
  text-align: right;
  width: 100%;
  margin-right: -119px;
}
.header .heading {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 80px;
  text-transform: uppercase;
  color: #4B3D2A;
  background: #E6E6E5;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header .heading p {
  text-align: center;
  padding: 0 20px;
}
.header .heading span {
  font-weight: 700;
}

.buy-get .buy-get-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #FFFFFF;
  margin-top: 5px;
  flex-wrap: wrap;
}
.buy-get .buy-get-content .buy-get-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #C01627;
  border-radius: 0 0 8px 8px;
  padding: 0 251px;
  margin: 0 30px;
}
.buy-get .buy-get-content .buy, .buy-get .buy-get-content .get {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-get .buy-get-content .buy img {
  margin: 23px 0;
  width: 100%;
}
.buy-get .buy-get-content .buy__text1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #221E1F;
  margin-top: 43px;
  max-width: 32rem;
}
.buy-get .buy-get-content .buy__text1 span {
  font-weight: 700;
}
.buy-get .buy-get-content .buy__text2 {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #221E1F;
  margin-top: 19px;
  max-width: 30rem;
}
.buy-get .buy-get-content .buy__text2 span {
  font-weight: 700;
}
.buy-get .buy-get-content .buy__link-box {
  display: flex;
  justify-content: center;
}
.buy-get .buy-get-content .buy__link-box .btn-link {
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #DD4E12;
  border-radius: 8px;
  margin: 57px 9px;
  padding: 0 46px;
}
.buy-get .buy-get-content .get .lemur-link {
  color: #DD4E12;
}
.buy-get .buy-get-content .get img {
  margin: 74px 0;
}
.buy-get .buy-get-content .get .conditions {
  display: block;
  margin: 70px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #221E1F;
}

.buy-get .issue {
  background: #221E1F;
}
.buy-get .issue p {
  font-size: 18px;
  line-height: 94px;
  text-align: center;
  color: #FFFFFF;
}

.addresses {
  background-color: #ffffff;
  padding: 92px 0 81px 0;
}
.addresses__heading {
  font-weight: 500;
  font-size: 60px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  color: #221E1F;
}
.addresses .map-box {
  margin: 91px 0 50px 0;
  position: relative;
}
.addresses .map-box #map {
  width: 100%;
  height: 500px;
}
.addresses .map-box .btn-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.addresses .map-box .btn-box .change-region-btn {
  background: #DD4E12;
  border-radius: 8px 8px 0 0;
  width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 10px;
}
.addresses p, .addresses__list {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #494948;
}
.addresses__list {
  display: block;
  text-decoration: underline;
  cursor: pointer;
}
.addresses__list::-webkit-details-marker {
  display: none;
}
.addresses .addresses__content li {
  list-style-type: inherit;
}
.addresses .list-heading {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 20px;
}
.addresses .list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.addresses .list-box ul {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding: 0 30px;
  max-width: 340px;
}
.addresses .list-box ul li {
  margin-bottom: 10px;
}

.footer__container {
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #221E1F;
  padding: 0 calc(50% - 770px);
}
.footer__logo {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}
.footer__right {
  display: flex;
  align-items: center;
}
.footer__right a {
  margin-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4F8478;
  border-radius: 50%;
  transition: background 0.2s;
}
.footer__right a:hover {
  background-color: #7EA69A;
}

@media (max-width: 1600px) {
  .header .header__banner {
    padding: 47px 130px 0 130px;
  }
  .header .header__banner .banner-heading {
    font-size: 60px;
    line-height: 60px;
  }
  .header .header__banner .product-img {
    width: 100%;
  }
  .header .header__banner .banner-term {
    width: max-content;
  }
}
@media (max-width: 1300px) {
  .header .header__banner {
    padding: 47px 60px 0 60px;
  }
  .header .header__banner .banner-heading {
    font-size: 40px;
    line-height: 40px;
  }
  .header .header__banner .product-img {
    width: 100%;
  }
  .header .header__banner .banner-term {
    width: max-content;
  }
  .header .heading {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .header .header-box .logo-link1 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .heading {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .header {
    background: #000000;
  }
  .header .header-box {
    padding: 15px 75px;
  }
  .header .header__banner {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .header .header__banner .banner-left, .header .header__banner .banner-right {
    width: 100%;
  }
  .header .header__banner .banner-left .banner-heading, .header .header__banner .banner-left .banner-text1, .header .header__banner .banner-left .banner-text2, .header .header__banner .banner-left .banner-term, .header .header__banner .banner-right .banner-heading, .header .header__banner .banner-right .banner-text1, .header .header__banner .banner-right .banner-text2, .header .header__banner .banner-right .banner-term {
    margin: 0 0 15px 0;
    text-align: center;
  }
  .header .header__banner .banner-left .banner-text1, .header .header__banner .banner-right .banner-text1 {
    max-width: 100%;
  }
  .header .header__banner .banner-left .banner-term, .header .header__banner .banner-right .banner-term {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header .header-box {
    padding: 15px;
  }
  .header .header-box .menu {
    display: none;
  }
  .header .header-box .logo-link2 {
    flex: 0 0 135px;
  }
  .header .header-box .burger {
    display: block;
    position: relative;
    width: 35px;
  }
  .header .header-box .burger span {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    margin: 3px;
    transition: all 0.3s ease 0s;
  }
  .header .header-box .burger:before, .header .header-box .burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header .header-box .burger:before {
    top: 0;
    margin: 3px;
  }
  .header .header-box .burger:after {
    bottom: 0;
    margin: 3px;
  }
  .header .header-box .active:before {
    transform: rotate(45deg);
  }
  .header .header-box .active:after {
    transform: rotate(-45deg);
    bottom: -8px;
  }
  .header .header-box .active span {
    transform: scale(0);
  }
  .header .header-box .burger-menu.active {
    top: 140px;
    z-index: 1;
    opacity: 0.95;
  }

  .header .header__banner .banner-right .coupon-img {
    width: 80%;
  }
  .header .heading {
    flex-direction: column;
    line-height: 30px;
    padding-top: 10px;
  }
  .header .banner-term {
    font-size: 0.7rem;
  }
}
@media (max-width: 1440px) {
  .buy-get .buy-get-content .get-link {
    border-radius: 8px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .buy-get .issue p {
    font-size: 14px;
    line-height: 50px;
  }
  .buy-get .buy-get-content .buy, .buy-get .buy-get-content .get {
    padding: 0 10px;
    width: 100%;
  }
  .buy-get .buy-get-content .get {
    margin-top: 30px;
  }
  .buy-get .buy-get-content .get img {
    width: 100%;
  }
  .buy-get .buy-get-content .buy-get-link {
    padding: 0 30px;
    line-height: 80px;
    display: block;
    width: 100%;
  }
  .buy-get .buy-get-content .buy__link-box {
    flex-direction: column;
  }
  .buy-get .buy-get-content .buy__link-box .btn-link {
    margin: 20px 9px;
  }

  .addresses__heading {
    font-size: 2.3rem;
  }
}
@media (max-width: 1600px) {
  .center, .footer__container {
    padding: 0 calc(50% - 620px);
  }
}
@media (max-width: 1300px) {
  .center, .footer__container {
    padding: 0 calc(50% - 550px);
  }
}
@media (max-width: 1024px) {
  .center, .footer__container {
    padding: 0 calc(50% - 430px);
  }
}
@media (max-width: 768px) {
  .center, .footer__container {
    padding: 0 calc(50% - 340px);
  }
}
@media (max-width: 425px) {
  .footer__container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__container .footer__logo {
    left: 0;
    transform: translateX(0);
  }
  .footer__container .footer__right {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
