//подключение шрифтов
@import url(../fonts/stylesheet.css)
//Обнуление стилей
@import url(nullstyle.css)

$mainColor: #D70E29
$mainFontColor: #000000

.container
  max-width: 1920px
  min-width: 320px
  position: relative
  margin: 0 auto
  background-image: url(../img/heart_mobile.svg)
  background-repeat: no-repeat
  background-position: top right

.container-winners
  max-width: 1920px
  min-width: 320px
  margin: 0 auto
  background-color: #FFFFFF 

.center
  padding: 0 18px  

.header
  min-height: 82px
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 28px

  .logo
    display: block

  .menu
    text-align: right
    padding-right: 9px

  .menu__link
    font-size: 14px
    line-height: 20px
    color: $mainFontColor

  .winners-link
    color: $mainColor

.winners-list__heading
  font-weight: bold
  font-size: 36px
  line-height: 36px
  color: $mainColor
  margin-top: 48px
  text-align: center

.winners-list__text
  margin-top: 8px
  font-size: 18px
  line-height: 18px
  color: #000000
  text-align: center
  padding: 0 30px 20px 30px

.winners-list-box
  overflow: hidden
  height: 100vh
  overflow-y: scroll
  margin: 8px -8px 8px -8px
  border: 1px solid #E5E5E5
  background: #FFFFFF
  //style for mozilla firefox
  scrollbar-color: #5E5E5D #E5E5E5
  scrollbar-width: thin


.winners-list-box::-webkit-scrollbar
  width: 10px
  background-color: #E5E5E5

.winners-list-box::-webkit-scrollbar-thumb
  background-color: #5E5E5D

.winners-list
  li
    display: flex
    align-items: center
    min-height: 73px

.winners-list
  p
    display: flex
    align-items: center
    height: 73px
    width: 100%
    border-top: 1px solid #E5E5E5
    border-right: 1px solid #E5E5E5
    padding: 0 14px
    font-size: 14px
    color: #5E5E5D

    img
      margin-right: 10px

.list-heading
  justify-content: center
  font-size: 20px
  line-height: 24px
  background-color: $mainColor
  color: #FFFFFF
  padding: 0 10px
  text-align: center

.top
  display: flex
  flex-direction: column-reverse
  padding-top: 23px

  &__title
    width: 80%
    min-height: 56px
    font-weight: bold
    font-size: 26px
    line-height: 28px
    text-align: left
    color: $mainFontColor

    span
      color: $mainColor

  &__text
    margin: 10px 5px 0 0
    width: 53%
    min-height: 54px
    font-size: 14px
    line-height: 18px
    color: $mainFontColor
    text-align: left
    //padding-top: 70px
    span
      border-bottom: 1px solid $mainColor
      display: inline-block
      line-height: 11px

  &__left
    position: relative
    padding: 23px 56px 0 57px

    img
      width: 100%

.register
  background-color: $mainColor
  border-radius: 100px
  display: flex
  justify-content: center
  align-items: center
  font-size: 18px
  line-height: 46px
  text-transform: uppercase
  color: #FFFFFF
  padding-top: 4px
  margin: 28px 22px 0 22px
  font-weight: bold

.bottom
  display: flex
  flex-direction: column
  //&__left
  &__title
    font-weight: bold
    font-size: 30px
    line-height: 48px
    color: $mainFontColor
    margin-top: 48px

  &__conditions
    display: flex
    justify-content: flex-start
    align-items: center
    margin-top: 13px

    p
      width: 94%
      font-size: 18px
      line-height: 18px
      color: $mainFontColor
      margin-left: 17px

  &__right
    margin: 39px 0 35px 0

    img
      width: 100%

.pop-up-center
  margin-left: calc(50% - 500px)
  margin-right: calc(50% - 500px)

.pop-up
  display: none
  padding: 69px 76px

  .pop-up-title
    font-weight: bold
    font-size: 64px
    line-height: 24px
    color: $mainColor

  .pop-up-text
    font-size: 30px
    line-height: 24px
    color: $mainFontColor
    padding: 20px 0

  .pop-up-box
    display: flex
    justify-content: space-between
    background: #FFFFFF
    border-radius: 50px

    img
      margin-right: -19px

  .pop-up-form
    display: flex
    flex-direction: column
    width: 100%
    padding-right: 82px

    input
      margin-bottom: 28px
      height: 25px
      font-size: 18px
      border-bottom: 1px solid #5E5E5D

    input:placeholder-shown
      font-size: 18px
      line-height: 24px
      color: #5E5E5D

    summary
      display: block
      border-bottom: 1px solid #5E5E5D
      height: 25px
      font-size: 18px
      color: #5E5E5D

    summary::marker
      display: none

    .option
      display: block
      font-size: 18px

    //.check

    .check__input
      -webkit-appearance: none

    .consent-box
      position: relative

    .check-consent
      padding-left: 3em

    .check-consent__input
      -webkit-appearance: none

    .checkbox
      left: 0
      position: absolute
      top: 30px
      width: 35px
      height: 35px
      background-image: url(../img/checkbox.svg)

    .check-consent__input:checked + .checkbox
      background-image: url(../img/checkbox_checked2.svg)
      background-position: center
      background-size: 144%

    .btn-register
      width: 306px
      height: 48px
      background-color: $mainColor
      border-radius: 100px
      display: flex
      justify-content: center
      align-items: center
      font-size: 18px
      text-transform: uppercase
      color: #FFFFFF
      padding-top: 6px
      margin-top: 35px
      font-weight: bold

footer
  min-height: 50px
  background: #5E5E5D
  display: flex
  justify-content: center
  align-items: center

  .agreement
    font-size: 14px
    color: #FFFFFF
    display: block
    padding: 18px

@media (min-width: 1024px)
  .center
    padding: 0 calc(50% - 45.21%)

  .container
    background-size: 1027px
    background-position: top right -253px

  .container-winners
    background: url(../img/balloons_back1024.svg)
    background-position: top center
    background-repeat: no-repeat
    background-size: 100%
    display: flex
    flex-direction: column     

  .header
    padding-top: 60px

    .logo
      img
        height: 168px

    .menu
      display: flex
      align-items: center
      height: 50px
      padding-right: 0

      &__link
        font-size: 24px
        line-height: 24px
        padding: 25px
        display: block

  .winners-list__heading
    font-size: 64px
    line-height: 96px
    margin-top: 28px

  .winners-list__text
    font-size: 30px
    line-height: 30px
    padding: 0 175px

  .winners-list-box
    width: 930px
    height: 432px
    margin: 32px auto 435px auto
  
  .winners-list
    p  
      font-size: 24px
      line-height: 24px

  .list-heading
    font-size: 30px
    line-height: 30px           

  .top
    flex-direction: inherit
    justify-content: space-between
    padding-top: 55px
    height: 100%

    &__left
      padding: 0

      img
        margin-top: 25px
        width: 408px
        height: 463px
        position: absolute

    &__right
      width: 63%
      display: flex
      flex-direction: column
      align-items: center
      margin-right: 7px

    &__title
      width: 100%
      font-size: 72px
      line-height: 72px
      text-align: center
      margin-bottom: 43px

    &__text
      margin: 10px 0 0 0
      width: 92%
      font-size: 36px
      line-height: 36px
      text-align: center

      span
        border-bottom: 2px solid $mainColor
        line-height: 27px

    .register
      margin-top: 67px
      line-height: 76px
      font-size: 30px
      width: 77%

  .bottom
    margin-top: 71px

    &__title
      margin: 82px 0 54px 0
      font-size: 48px

    &__conditions
      width: 50%
      margin-bottom: 37px

      p
        font-size: 24px
        line-height: 24px
        padding: 0 20px

    .bottom-register
      font-size: 18px
      line-height: 48px
      margin: 56px 619px 84px 0

    &__right
      margin: 0 0 80px 0

  footer
    min-height: 100px

    .agreement
      font-size: 24px
      padding: 30px

@media (min-width: 1920px)
  .center
    padding: 0 170px

  .container
    background-image: url(../img/heart1.svg)
    background-position: top right
    background-size: inherit

  .container-winners
    background: url(../img/balloons_back1920.svg)
    background-position: top center
    background-repeat: no-repeat 
    background-size: inherit

  .header
    .logo
      img
        height: 196px

    .menu
      display: flex
      padding-right: 200px

      &__link
        font-size: 24px
        line-height: 24px
        padding-left: 50px

  .winners-list__text
    padding: 0 525px

  .winners-list-box
    width: 930px
    height: 432px
    margin: 32px auto 79px auto        

  .top
    display: flex
    justify-content: space-between
    padding-top: 13px
    height: 100%

    &__left
      padding: 0

      img
        margin-top: 0
        width: 670px
        height: 760px
        position: inherit

    &__right
      width: 50%
      margin-right: 100px
      display: flex
      flex-direction: column
      align-items: center

    &__title
      width: 95%
      font-size: 96px
      line-height: 100px
      text-align: center
      margin-bottom: 0
      margin-top: 14px

    &__text
      width: 91%
      font-size: 48px
      line-height: 48px
      margin: 66px 0 0 0

      span
        border-bottom: 2px solid $mainColor
        line-height: 37px

  .register
    margin: 88px 0
    width: 63.4%

  .bottom
    margin: 168px 0 171px 0
    flex-direction: row

    &__title
      margin: 245px 0 54px 0

    &__conditions
      width: 58%

    &__right
      margin: 0

      img
        position: absolute
        width: 1122px
        right: 104px

    .bottom-register
      width: 35.8%
      line-height: 44px
    

