header
    header.header.header-main-page.center
        <a href="index.html" class="header__logo-link" alt="logo">
            svg.header__logo(width="200" height="50")
                use(xlink:href="./assets/images/sprite.svg#logo_horizont1")
        </a>
        <details class="location">
            <summary class="location__choice">Санкт-Петербург</summary>
            <ul class="location__menu">
                <li>#</li>
                <li>#</li>
                <li>#</li>
                <li>#</li>
                <li>#</li>
            </ul>
        </details>
        <nav>
            <ul class="header__menu">
                <li><a href="#" class="header__menu-link">Концепция</a></li>
                <li><a href="#" class="header__menu-link">Серии</a></li>
                <li><a href="#" class="header__menu-link">Проекты</a></li>
                <li><a href="#" class="header__menu-link">Блог</a></li>
                <li><a href="#" class="header__menu-link">Контакты</a></li>
            </ul>
        </nav>
        <div class="header__contact">
            <p class="contact__number">+7 (812) 336-45-00</p><a href="#" class="contact__link">Обратиться к нам</a>
        </div>
    </header>