  
$mainBackColor: #E5E5E5

@mixin flex_space_between_items_center
  display: flex
  justify-content: space-between
  align-items: center

body
  position: relative
  background-color: $mainBackColor

.wrapper
  position: relative
  min-width: 320px
  max-width: 1920px
  margin: 0 auto

.center
  padding: 0 calc(50% - 800px)

.header, .header-main-page
  background: #F7F7F7
  @include flex_space_between_items_center
  
  min-height: 90px
  &__menu
    @include flex_space_between_items_center
  &__contact
    @include flex_space_between_items_center

.header-main-page
  width: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 50
  background: none

.main-title
  z-index: 2
  position: absolute
  top: 207px
  text-align: center
  width: 100%

.title
  padding: 32px
  font-weight: 600
  font-size: 28px
  line-height: 34px

.our-series
  width: 100%

.individual-design
  &__box
    @include flex_space_between_items_center
    max-height: 500px

  &__item
    width: 50%
    .swiper3
      max-height: 500px

  &__text-box
    @include flex_space_between_items_center
    min-height: 182px

.our-production
  &__top
    @include flex_space_between_items_center
    min-height: 250px        

  &__bottom
    min-height: 750px
    background: url(../images/our_production_back.jpg) top center no-repeat
    display: flex
    flex-direction: column-reverse

  &__text-block
    @include flex_space_between_items_center
    padding: 0 22px

.exclusive-design
  @include flex_space_between_items_center
  
  &__left
    width: 50%

  .awards-block
    @include flex_space_between_items_center
    .awards-content
      img
        display: block  

  &__right
    max-width: 790px

.cost
  background: #2D2D2D
  min-height: 750px
  padding-top: 130px
  &__title
    font-weight: bold
    font-size: 36px
    line-height: 44px
    color: #FFFFFF

.manufacture
  @include flex_space_between_items_center
  &__slider   
    .swiper5
      max-height: 500px    

  


//Центрирование без враппера
//section, header, footer
//  padding: 0 15px
//
//@media (min-width: 575.98px)
//section, header, footer
//  padding: 0 calc(50vw - 270px)
//
//@media (min-width: 767.98px)
//section, header, footer
//  padding: 0 calc(50vw - 360px)
//
//@media (min-width: 991.98px)
//section, header, footer
//  padding: 0 calc(50vw - 480px)
//
//@media (min-width: 1199.98px)
//section, header, footer
//  padding: 0 calc(50vw - 800px)






