extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        .wrapper
            section.slider
                <div class="header-slider">
                    <!-- Slider main container -->
                    <div class="swiper-container swiper1">
                        <div class="main-title">
                            <img src="assets/images/main_title.svg" alt="main-title" class="main-title-img">
                            <p class="title">модульные дома для Вашего комфорта</p>
                        </div>
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="assets/images/main_page_slider1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider3.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider4.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/main_page_slider5.jpg" alt="slider-image"></div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev swiper1-button-prev"></div>
                        <div class="swiper-button-next swiper1-button-prev"></div>

                        <!-- If we need scrollbar -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>   
            section.our-series.center
                .our-series__heading
                    <h1>Наши серии</h1>
                    <p class="section__text">PLATforma Home– это не просто дома, идеально созданные в заводских условиях по современным технологиям. Это философия жизни в стиле максимального личного комфорта, уюта и благополучия.</p>
                    <a href="#" class="section__link">Смотреть все</a>
                .our-series__slider
                    <div class="swiper-container swiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img2.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/series_slider_img3.jpg" alt="slider-image"></div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-bottom">
                        </div>
                    </div>
                .our-series__videobox
                    <video src="video.ogv" controls></video>   
            section.individual-design.center
                <div class="individual-design__box">
                    <div class="individual-design__item">
                        <div class="swiper-container swiper3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                                <div class="swiper-slide"><img src="assets/images/individual_design_img.jpg" alt="slider-image"></div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-left"></div>
                        </div>
                    </div>
                    <div class="individual-design__item">
                        <h2 class="individual-design__heading">Индивидуальное проектирование</h2>
                        <p class="individual-design__text">На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания.
                        </p>
                    </div>   
                </div>
                <div class="individual-design__text-box">
                    svg(width="62" height="49")
                        use(xlink:href="./assets/images/sprite.svg#quotes1")                     
                    <p class="text-block">PLATforma Home — это современные модульные дома повышенной комфортности, готовые к круглогодичному проживанию. </p>
                </div>
            section.our-production.center
                .our-production__top
                    <h2 class="our-production__heading">Наше производство</h2>
                    p.our-production__text PLATforma входит в холдинг «ПНСК». Производство расположено в Санкт‑Петербурге, завод общей площадью более 12 га. Основные критерии выбора «ПНСК» - это опыт, профессионализм и безупречная репутация.
                .our-production__bottom
                    <div class="our-production__text-block">
                        <div class="our-production__item">
                            <p>12<span>гектаров</span></p>
                            <p>Площадь собственного завода</p>
                        </div>
                        <div class="our-production__item">
                            <p>50+</p>
                            <p>Зданий построенно за год</p>
                        </div>
                        <div class="our-production__item">
                            <p>300+</p>
                            <p>Сотрудников компании</p>
                        </div>
                        <div class="our-production__item">
                            <p>30<span>лет</span></p>
                            <p>опыта в производстве модульных домов</p>
                        </div>        
                    </div>
            section.exclusive-design.center
                <div class="exclusive-design__left">
                    <h2 class="exclusive-design__heading">Эксклюзивный дизайн от RHIZOME</h2>
                    <p class="exclusive-design__text">Архитектурное бюро из Петербурга, основанное в 2011 году. На сегодняшний день Rhizome – это команда из 12 архитекторов, ведущих работу над проектами разного масштаба: архитектура, благоустройство территорий, общественные интерьеры.</p>
                    <div class="awards-block">
                        <div class="awards-content">
                            svg(width="45" height="45")
                                use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                            <p>Собака.ру «Петербург будущего 2020», Архитектурное бюро года</p>
                            svg(width="45" height="45")
                                use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                            <p>АрхиWood 2019, Павильон Гостиная в Приозерске</p>
                        </div>
                        <div class="awards-content">
                            svg(width="45" height="45")
                                use(xlink:href="./assets/images/sprite.svg#olive-branches-award-symbol")
                            <p>Собака.ру «Петербург будущего 2019», Дизайн отеля, Точка на Карте. Приозерск</p>
                            a.about-rhizome-link(href='#') Подробнее о RHIZHOME
                        </div>
                    </div>
                </div>
                <div class="exclusive-design__right">
                    <div class="swiper-container swiper4">
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                            <div class="swiper-slide"><img src="assets/images/exclusive-design_slider_img1.jpg" alt="slider-image"></div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev swiper4-button-prev"></div>
                        <div class="swiper-button-next swiper4-button-prev"></div>   
                    </div>
                </div>
            section.cost.center
                .cost__content
                    h3.cost__title Узнать стоимость дома по своему проекту
                    form.cost__form(action="#")
                        <div class="cost__input-box">
                            <input type="name" class="cost__input">
                            <input type="tel" class="cost__input">
                        </div>
                        <div class="cost__input-box">
                            textarea.message         
                        </div>
                        .attachment
                            svg(width="20" height="18")
                                use(xlink:href="./assets/images/sprite.svg#clip")   Прикрепить файл
                        .agreement
                            p.agreement-text Нажимая на кнопку, я подтверждаю, что согласен на обработку моих персональных данных, а также с Пользовательским соглашением
                            button.cost__form-button(type='submit') Отправить
            section.banks.center            
                    .banks__content
                        .banks__text-block
                            h3.banks__title Наш банк партнер 
                        .banks__logo 
                            p.cost__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            section.manufacture.center
                .manufacture__slider
                    .swiper-container.swiper5
                        .swiper-wrapper
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                            .swiper-slide
                                img(src="assets/images/manufacture_slider_img1.png" alt="slider-image")
                        .swiper-pagination.swiper-pagination-left2                 
                .manufacture__text
                    h3.manufacture__title Производство
                    p.manufacture__text На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания. На выбор подходящий размер и конфигурация дома для разных земельных участков и разного состава семьи (молодая пара, семья с маленьким ребенком, дом для большой семьи). Мы сможем установить дом практически где угодно — на участке перед вашим домом, в лесной зоне, на берегу реки.  Доставку осуществляет наша компания.
            section.faq
                h3.faq__title faq
                .faq__accordion-block
                               
